PORT=3100
ALLOWED_ORIGINS=https://greenfixexterior-care.co.uk,https://www.greenfixexterior-care.co.uk,https://remoteability.org.uk,https://www.remoteability.org.uk,https://heimdelltechai2035.github.io
RESEND_API_KEY=
EMAIL_FROM=Website Forms <forms@heimdell-tech-ai.co.uk>
GREENFIX_FORM_TO=admin@greenfixexterior-care.co.uk
REMOTEABILITY_FORM_TO=contact@remoteability.org.uk
